<style>
    a.link{
        transition: all 0.5s;
    }
    a.link.active{
        background: #29d !important;
    }
</style>
<div class="_annoucement">
    <div class="primary icon-bar three-up">
        <a  ng-click="switch(item.id)" ng-class="{link:true,active: id==item.id}" ng-repeat="item in types">{{item.name}}</a>
    </div>
    <div class="newslist">
        <a class="news big row" ng-repeat="i in lists" href="{{i.link}}">
                <div class="small-3 column pic {{i.img?'':'hide'}}">
                    <div class="pic-background" style="background-image:url('{{i.img}}')"></div>
                </div>
                <div class="column {{i.img?'small-9':'small-12'}}">
                    <div class="title">{{i.title}}</div>
                    <div class="date">{{i.date}}</div>
                </div>
            </a>
        </a>
    </div>
    <div class="row">
        <div class="small-6 small-centered text-center columns">
            <div ng-click="load()" class="button more">载入更多</div>
        </div>
    </div>
</div>
